.wrap-checkbox {
  position: relative;
  overflow: hidden;

  width: 95%;
  max-width: 150px;
  margin: 1em auto;

  border: 1px solid #eee;
  border-radius: 10px;

  cursor: pointer;
}

.wrap-checkbox label {
  display: block;
  margin-bottom: 0;
}

.wrap-checkbox label::after,
.wrap-checkbox label::before {
  display: inline-block;
  width: 50%;
  padding: 1em 0;

  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.wrap-checkbox label::after {
  content: "On";
}

.wrap-checkbox label::before {
  content: "Off";
}

.wrap-checkbox input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;

  opacity: 0;
}

.wrap-checkbox input[type=checkbox] + label:before,
.wrap-checkbox input[type=checkbox]:checked + label:after {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

.wrap-checkbox input[type=checkbox]:checked + label:before {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.wrap-checkbox input[type=checkbox] + label:after {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.wrap-checkbox.danger {
  border-color: #dc143c;
}

.wrap-checkbox.danger input[type=checkbox] + label {
  background-color: rgba(220, 20, 60, .5);
}

.wrap-checkbox.danger input[type=checkbox]:checked + label {
  background-color: #dc143c;
}

.wrap-checkbox.warning {
  border-color: #ffd700;
}

.wrap-checkbox.warning input[type=checkbox] + label {
  background-color: rgba(205, 215, 0, .5);
}

.wrap-checkbox.warning input[type=checkbox]:checked + label {
  background-color: #ffd700;
}

.wrap-checkbox.success {
  border-color: #32cd32;
}

.wrap-checkbox.success input[type=checkbox] + label {
  background-color: rgba(50, 205, 50, .5);
}

.wrap-checkbox.success input[type=checkbox]:checked + label {
  background-color: #32cd32;
}
